#homeView {
    line-height: 32px;
    display: inline;
}

#homeView a {
    font-size: 32px;
    text-decoration: none;
    color: rgb(5, 0, 4);  
}

#navigation {
    padding: 19px;
    background-color: #fcff4a;
    position: absolute;
    left: 0;
    right: 0;
    margin: -10px 0px 0px 0px;   
}

nav {
    display: inline-block;
    position: absolute;
    right: 16px;
    text-align: right;
}

nav div {
    display: inline-block;
}

nav a {
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(14, 13, 13);
    background-color: #f82424;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px rgba(66, 66, 68, 0.37);
    text-decoration: none;
    
}

nav a:hover {
    background-color: #37ec00;
}

/* #user {
    display: inline-block;
}

#guest {
    display: none;
} */