#register{
    display: block;
    background-image: url("https://eddd1e.files.wordpress.com/2015/04/circuits-computer-hd-wallpaper-2560x1600-8808.png");
    background-size: cover; 
    height: 70vh;
    position: fixed;
    left: 0;
    right: 0;
    padding: 360px;
    margin: 54px 0px 0px 0px;
}


#registerArticle {
    display: block;
    width: 720px;
    margin: 32px auto 32px auto;
    background-color: #fcff4a;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
    position: absolute;
    left: 370px;
    top: 100px;
}

article h2 {
    text-align: center; 
    background-color: #f82424;
    
}  


input[type="text"], input[type="password"], .ml textarea {
    position: absolute;
    right: 0px;
    width: 500px;
    padding: 6px;
}

input[type="submit"] {
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(14, 13, 13);
    background-color: #f82424;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px rgba(66, 66, 68, 0.37);
    text-decoration: none;
    position: relative;
    left: 300px;
    top: 10px;
}

#withAccount{
    font-size:21px;
    position: relative;
    left: 204px;
    top: 10
}

#loginBtn{
    position: relative;
    left: 550px;
    top: -30px
}

#loginBtn {
    padding: 10px 20px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(14, 13, 13);
    background-color: #f82424;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px rgba(66, 66, 68, 0.37);
    text-decoration: none;
    
}

#loginBtn:hover {
    background-color: #37ec00;
}