 .welcomeMsg{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    
 }

#root {
    display: block;

    background-image: url("https://miro.medium.com/max/5472/1*Z7boPZktSNmP5P8uqDzqBQ.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover; 
    height: 70vh;
    
    
    position: fixed;
    left: 0;
    right: 0;
    padding: 360px;
    margin: 62px 0px 0px 0px;
    
}







